body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ece5dd;
}

.chat-header {
    background: #075e54;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    height: calc(100vh - 60px);
}

/* Users */
.users {
    width: 30%;
    background: white;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.users h4 {
    margin: 0;
    padding: 10px;
    background: #f0f0f0;
}

.user {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}

.online {
    background: green;
}

.offline {
    background: gray;
}

/* Chat */
.chat-area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
}

.sent {
    background: #dcf8c6;
    margin-left: auto;
}

.received {
    background: white;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: #f0f0f0;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat-input button {
    background: #25d366;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
