body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ece5dd;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #ffffff;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.card h2 {
    text-align: center;
    color: #075e54;
    margin-bottom: 20px;
}

.card input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.card button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    background: #25d366;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#msg {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
